# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
build-onedir/
build-onefile/
dist-onedir/
dist-onefile/
*.manifest

# Nuitka
*.build/
*.dist/
*.onefile-build/
nuitka-crash-report.xml
compilation-report.xml

# App output
reports/
*.db
*.db-wal
*.db-shm

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
